<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />

        <meta property="description" content="Tra cứu vi phạm giao thông ở TP Đà Nẵng" />
        <meta property="author" content="namho1407@gmail.com" />
        <meta property="keywords" content="Vi phạm giao thông, kiểm tra, violation, check" />
        <meta property="og:site_name" content="Violation Check" />
        <meta property="og:url" content="https://violation-check.firebaseapp.com" />
        <meta property="og:title" content="Violation Check - Kiểm tra vi phạm giao thông" />
        <meta property="og:description" content="Tra cứu vi phạm giao thông ở TP Đà Nẵng" />
        <meta property="al:web:url" content="https://violation-check.firebaseapp.com" />
        <meta property="og:type" content="website">

        <base href="/" />
        <title>Violation Check</title>

        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    </head>
    <body>
        <!--Container for React rendering-->
        <div class="container">
          <div class="col-md-12">
            <div id="container"></div>
          </div>
        </div>
    </body>
</html>
